/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ****Page code begins**** */

@font-face {
    font-family: 'Major Mono Display';
    src: url('media/MajorMonoDisplay-Regular.ttf')
}

body {
    background-color: #6d404c;
    color: rgb(199, 206, 212);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

em {
    font-style: italic;
}

#backgroundImg{
    display: block;
    min-height: 100vh;
    width: 40%;
    padding: 0;
    margin: 0;
}

#logoContainer {
    top: 20%;
    padding: 2%;
    padding-right: 0%;
    width: 38%;
    position: absolute;
    background-color: rgba(17, 27, 39, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

#logoImg {
    height: clamp(8vh, 10vh, 75px);
    width: clamp(5vw, 8vw, 75px);
}

#logoText {
    font-family: 'Major Mono Display', monospace;
    color: #4c1b27;
    font-size: clamp(10px, 6vw, 55px);
    font-weight: 600;
}

#greetingText {
    padding: 2vh;
    padding-left: 4vh;
    font-size: clamp(12px, 6vw, 22px);
    margin-top: 12vh;
    margin-bottom: 4vh;
    line-height: clamp(21px, 3.5vh, 35px);
    max-width: 40vw;
}

body > div + div > div > p + p {
    margin-top: 3vh;
}

#signUpSheet {
    background-color: #aa7482;
    padding: 4vh;
    padding-top: 2vh;
    border-top: rgb(173, 71, 71);
    border-bottom: rgb(173, 71, 71);
    border-width: 2px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    width: 52vw;
}

#formContainer {
    display: grid;
    grid-template-areas:
    "fname lname"
    "email phone"
    "pass confirm";
    width: 30vw;
}

#formContainer > div {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

#formContainer > div:nth-child(1){
    grid-area: fname;
}

#formContainer > div:nth-child(2){
    grid-area: lname;
}

#formContainer > div:nth-child(3){
    grid-area: email;
}

#formContainer > div:nth-child(4){
    grid-area: phone;
}

#formContainer > div:nth-child(5){
    grid-area: pass;
}

#formContainer > div:nth-child(6){
    grid-area: confirm;
}

#formContainer > div:nth-child(odd){
    margin-right: 4vw;
}

input {
    margin-top: 0.5vh;
    padding: 1.5%;
    border-color: #4c1b27;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    height: 2vh;
    width: 16vw;
}

input:focus {
    outline-color: rgb(142, 114, 243);
}

label {
    color: rgb(253, 253, 253);
    font-size: 12px;
}

h2 {
    font-size: clamp(12px, 6vw, 22px);
    margin-bottom: 1vh;
}

#createAccount {
    min-width: fit-content;
    min-height: fit-content;
    width: 12vw;
    height: 6vh;
    margin: 4vh;
    background-color: rgb(103, 93, 139);
    color: rgb(199, 206, 212);
    border-color: rgb(103, 93, 139);
    border-width: 3px;
    font-size: clamp(1vw, 16px, 2vw);
    font-weight: bold;
    border-radius: 1em;
    cursor: pointer;
}

#createAccount:hover {
    background-color: rgb(199, 206, 212);
    color: rgb(103, 93, 139);
}

#logIn {
    margin-left: 4vh;
}

a {
    color: rgb(142, 114, 243);
    font-weight: 1000;
    cursor: pointer;
}

a:hover {
    color: whitesmoke;
}
